#sparkles > path {
  animation: sparklyBits 1000ms infinite;
  position: absolute;
}

#message {
  position: absolute;
  top: 80%;
  right: -50%;
  font-size: 18px;
  font-weight: 700;
  width: 300px;
  opacity: 0.8;
}
.main {
  height: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
}
@for $i from 1 through 29 {
  #sparkles > path:nth-child(#{$i}) {
    animation-delay: (35ms * $i);
  }
}

@keyframes sparklyBits {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
}
