* {
  padding: 0;
  margin: 0;
  list-style: none;

  outline: none;
  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}
a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}
h1 {
  font-size: 48px;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}
a {
  text-decoration: none;
}
.header {
  border-bottom: 2px solid #c7c6c6;
  padding: 40px 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo img {
  margin-right: 17px;
}
.header__logo h1 {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}
.header__logo p {
  color: #7b7b7b;
}
.button {
  display: inline-block;
  background-color: #fe5f1e;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button,
.button span {
  color: #fff;
}
.button i,
.button span,
.button path,
.button svg {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.button:hover {
  background-color: #f24701;
}
.button:active {
  background-color: #de4101;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
.button--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  border-width: 2px;
}
.button--black {
  background-color: #232323;
}
.button--black:hover,
.button--black:active {
  background-color: #3d3d3d;
}
.button--outline {
  background-color: #fff;
  border-color: #fe5f1e;
}
.button--outline,
.button--outline span {
  color: #fe5f1e;
}
.button--outline svg path {
  fill: #fe5f1e;
}
.button--outline:hover {
  background-color: #fe5f1e;
}
.button--outline:hover,
.button--outline:hover span {
  color: #fff;
}
.button--outline:hover svg path {
  fill: #fff;
}
.button--outline:active {
  background-color: #f24701;
}
.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}
.button--add svg {
  margin-right: 2px;
}
.button--add span {
  font-weight: 600;
  font-size: 16px;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.container--cart {
  margin: 90px auto;
}
.container--cart .content__title {
  margin: 0;
}
.cart__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cart .content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 32px;
}
.cart .content__title svg {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.cart .content__title svg path {
  stroke: #232323;
  strokewidth: 1.9;
}

.cart__clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cart__clear span {
  display: inline-block;
  margin-left: 7px;
  color: #b6b6b6;
  font-size: 18px;
}
.cart__clear span,
.cart__clear svg,
.cart__clear path {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.cart__clear:hover svg path {
  stroke: #373737;
}
.cart__clear:hover span {
  color: #373737;
}
.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px solid #f0e8e8;
  padding-top: 30px;
  margin-top: 30px;
}
.cart__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
  width: 10%;
}
.cart__item-img img {
  width: 130px;
  height: 130px;
}
.cart__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40%;
}
.cart__item-info h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
}
.cart__item-info p {
  font-size: 18px;
  color: #8d8d8d;
}
.cart__item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 13%;
}
.cart__item-count-minus svg path:first-of-type {
  display: none;
}
.cart__item-count b {
  font-size: 22px;
}
.cart__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 33%;
}
.cart__item-price b {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.01em;
}
.cart__item-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 4%;
}
.cart__item-remove .button {
  border-color: #ddd;
}
.cart__item-remove svg {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cart__item-remove svg path {
  fill: #d0d0d0;
}
.cart__item-remove .button svg {
  width: 11.5px;
  height: 11.5px;
  position: relative;
}
.cart__item-remove .button:hover,
.cart__item-remove .button:active {
  border-color: #2a2a2a;
  background-color: #2a2a2a;
}

@media (min-width: 320px) and (max-width: 480px) {
  .cart__item-img img {
    width: 100px;
    height: 100px;
  }

  .cart__item-count {
    width: 20%;
    margin-right: 30px;
  }
  .cart__item-price b {
    font-size: 14px;
  }
  .cart__item-count b {
    font-size: 14px;
    margin: 0px 10px;
  }
  .cart__item-remove {
    width: 6%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .cart__item-img img {
    width: 120px;
    height: 120px;
  }

  .cart__item-count {
    width: 20%;
    margin-right: 20px;
  }
  .cart__item-price b {
    font-size: 16px;
  }
  .cart__item-count b {
    font-size: 16px;
    margin: 0px 12px;
  }
  .cart__item-remove {
    width: 8%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) and (max-width: 1200px) {
}
@media (min-width: 1201px) {
}
