.carousel__item {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 280px;
  margin-left: 150px;
  color: #fff;
}
.carousel__img {
  width: 250px;
}
