$main-shadow: 0px 14px 30px rgba(0, 0, 0, 0.5);
$deftrans: 0.2s ease-in-out;
$card-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
.card {
  margin-top: 10px;
  margin-right: 30px;
  border-radius: 10px;
  padding: 20px;
  width: 275px;
  border: 2px dashed #e2e1e1;
  transition: $deftrans, transform 0.2s ease-in-out;
  p {
    // text-transform: uppercase;
    font-weight: 700;
    padding: 0;
  }

  span {
    font-size: 16px;
    opacity: 0.5;
    text-transform: uppercase;
  }
  b {
    font-size: 18px;
  }
  .favorite {
    position: absolute;
    cursor: pointer;
  }
  .card__info {
    display: flex;
    justify-content: space-between;
  }
  .card__main {
    display: flex;
    flex-direction: column;
  }

  .card__plus {
    img {
      z-index: 100;
      transition: $deftrans;
    }
    img:hover {
      transform: scale(1.1);
    }
    cursor: pointer;
  }
  box-shadow: $card-shadow;
}
.button {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  border: 1px solid rgb(83, 83, 78);
  border-radius: 15px;
  background-color: rgb(228, 222, 222);
  color: rgb(102, 71, 71);
  text-transform: uppercase;
  opacity: 1;
  height: 35px;
  padding: 0px 12px;
  font-weight: 800;
  transition: 0.2s linear;
  font-size: 25px;
  align-items: center;
  i {
    transition: 0.2s linear;

    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
}
.button:hover {
  cursor: pointer;
  background-color: rgb(133, 156, 156);
  color: white;
  i {
    color: white;
  }
}
.card:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
@media (min-width: 320px) and (max-width: 480px) {
  .card {
    margin-right: 0px;
  }
}
