.footer {
  background-color: #a0a1ad;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.footer__inner {
  padding: 50px 70px 30px;

  display: flex;
  flex-wrap: wrap;
}
.footer__block {
  img {
    width: 45px;
    margin-right: 10px;
  }
  width: 33.3%;
  text-align: center;
}
.footer__title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__address {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.5;
}
.footer__text {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.623);
  font-style: italic;
}
.footer_copyright {
  padding: 20px 0;
  background-color: #868694;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.copyright__text {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-style: italic;
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer__block {
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px #eff6fcc0 solid;
    img {
      width: 20px;
    }
  }
  .footer__block:last-child {
    border-bottom: none;
  }
  .footer__inner {
    padding: 30px 30px 10px;

    display: flex;
    flex-wrap: wrap;
  }
  .footer__title {
    margin-bottom: 0px;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }
  .footer__address {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    line-height: 1.5;
  }
  .footer__text {
    font-size: 10px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.623);
    font-style: italic;
  }
  .footer_copyright {
    padding: 15px 0;
    background-color: #868694;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .copyright__text {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-style: italic;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer__block {
    padding-top: 10px;
    width: 33%;
    border-bottom: none;
    img {
      width: 30px;
    }
  }
  .footer__block:last-child {
    border-bottom: none;
  }
  .footer__inner {
    padding: 20px 10px 20px;

    display: flex;
    flex-wrap: wrap;
  }
  .footer__title {
    margin-bottom: 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }
  .footer__address {
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    line-height: 1.5;
  }
  .footer__text {
    font-size: 11px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.623);
    font-style: italic;
  }
  .footer_copyright {
    padding: 15px 0;
    background-color: #868694;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .copyright__text {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-style: italic;
  }
}

@media (min-width: 1201px) {
  .footer__block {
    padding-top: 15px;
    width: 33%;
    border-bottom: none;
    img {
      width: 50px;
    }
  }
  .footer__block:last-child {
    border-bottom: none;
  }
  .footer__inner {
    padding: 50px 10px 50px;

    display: flex;
    flex-wrap: wrap;
  }
  .footer__title {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }
  .footer__address {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 1.5;
  }
  .footer__text {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.623);
    font-style: italic;
  }
  .footer_copyright {
    padding: 20px 0;
    background-color: #868694;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .copyright__text {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-style: italic;
  }
}
